<template name="hello">
  <div class="ui center aligned basic segment">
    <h1 class="ui center aligned violet icon header">
      <i class="circular users icon"></i>
      Team<span class="no-bold">Skills</span>
      <div class="sub header">Trouvez les compétences de votre équipe</div>
    </h1>
    <center>
      <br>
      <form class="ui form">
        <div class="six wide field">
          <div class="ui icon big input">
            <i class="search icon"></i>
            <input type="text" placeholder="Compétence ou coéquipier...">
          </div>
        </div>
      </form>
    </center>
  </div>
</template>
